html {
    min-height: 100vh;
    margin: 0;

}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

/* Keeps footer at botom of screen  */
.footerbar {
    margin-top: auto;
    bottom: 0;

}

/* Keep footer at bottom of page */
/*  footer 135px so 100 - 135px  */
.loger_out {
    min-height: calc(100vh - 135px);
}


.footer {
    position: absolute;
    width: 100%;
    min-height: 320px;
    bottom: 0;
    left: 0;
}

.shoto-color{
font-weight: 100;
color:crimson;

}

.card-width{
    max-width: 400px;
}
.card-height{
    min-height: 330px;
}
/* Main Backing */
.paperimage {
    background-image: url('/static/images/pages/japan-back.jpg');
    border-radius: 25px;

}

/* Thumnail expantion image in Kyu page */
.thumbnail {
    top: -50px;
    left: -35px;
    display: block;
    z-index: 999;
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}


.thumbnail:hover {
    transform: scale(3);

}

.active {
    background-color: grey;
    border-radius: 5px;
}



/* Register page */

.register-form-style {
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    color: black;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
}


.cardtextcolor {
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

/* This sets the grey box and also transparent on delete pages  */
.grey-transparent-background {
    background-color: rgba(128, 128, 128, 0.60);
    color: black;
    font-weight: 400;
    border-radius: 25px;

}

.border-padd-grey {
    padding: 20px;
}

.shoto_logo {
    color: blue;
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}

/* Forms and Signup */
.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.form-box {
    height: auto;
    background-color: grey;
    justify-self: center;
    align-items: center;
}

.fieldsform-1 {
    width: 30%;
}

.fieldsform-2 {
    width: 50%;
}

/* Small Margin for Spacing */
.spacer {
    margin: 10px;
}




