.testcss, bg-dark{
    color:red
}

.shoto_logo{
    margin-right: 10px;
    margin-left: 10px;
}

/* .navbar-header{
    background-color: black;
} */

.contacts-page{
    background-color: grey;
    
}

/* Keeps footer at botom of screen  */

.footer {
    position: absolute;
    width: 100%;
    min-height: 320px;
    bottom: 0;
    left: 0;
}

/* Botton at bottom of account/login.html */

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.form-box{
    height: auto;
    background-color: grey;
    justify-self: center;
    align-items: center;
}

.fieldsform-1{
    width: 30%;
}

.fieldsform-2{
    width: 50%;
}

.spacer{
    margin: 10px
}

.page_box{
    max-width: 600px;
    min-height: 600px;
}