html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('/static/images/grades/japan-back.jpg');
    background-size: cover;
}

body {
    height: 100vh;
}

.shoto_logo {
    margin-right: 10px;
    margin-left: 10px;
}

.grey-transparent-background {
    background-color: rgba(128, 128, 128, 0.5);
    color: black;

}

/* Keeps footer at botom of screen  */

.footer {
    position: absolute;
    width: 100%;
    min-height: 320px;
    bottom: 0;
    left: 0;
}

/* Botton at bottom of account/login.html */

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.form-box {
    height: auto;
    background-color: grey;
    justify-self: center;
    align-items: center;
}

.fieldsform-1 {
    width: 30%;
}

.fieldsform-2 {
    width: 50%;
}

.spacer {
    margin: 10px;
    /* display: flex;
    align-items: center; */
}

/* .page_box {
    height: 100vh;
} */


.testclass {
    background-color: darkgreen;
}