{% extends "base.html" %}

{% block content %}

<p>Hello delete</p>

<h1>Delete Record</h1>
<div class="table-responsive-sm">
    <form method="POST">
        {% csrf_token %}
        <!-- <p>Are you sure you want to delete ID: "{{ pk }}", "{{ form.first_name }}", "{{  form.last_name }}" ?</p>
        <input type="submit" value="Confirm"> -->
        <table class="table table-dark table-bordered table-responsive-lg table-responsive-md table-responsive-sm">
            <tr>
                <td>Student ID</td>
                <td><input type="text" name="Student_ID" value="{{ pk }}" readonly="true"></td>
            </tr>
            <tr>
                <td>First Name</td>
                <td>{{ form.first_name }}</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>{{  form.last_name }}</td>
            <tr>
                <td>Date of Birth</td>
                <td>{{ form.date_of_birth }}</td>
            </tr>
            <tr>
                <td>Email Address</td>
                <td>{{ form.email }}</td>
            <tr>
                <td>Address 1</td>
                <td>{{ form.address_1 }}</td>
            </tr>
            <tr>
                <td>Address 2</td>
                <td>{{ form.address_2 }}</td>
            <tr>
                <td>Post Code</td>
                <td>{{ form.post_code }}</td>
            <tr>
                <td>Student Grade</td>
                <td>{{ form.student_grade }}</td>
            </tr>
            <tr>
                <td>
                    <!-- <input type="submit" value="Confirm"> -->
                  
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}