{% extends "base.html" %}

{% block content %}

<p>Hello edit</p>

<h1>Delete Record</h1>
<div class="table-responsive-sm">

    <form method="post" onsubmit="return confirm('Are you really sure you want to delete record {{ object.id }}, {{ object }} ?')">


        {% csrf_token %}

        <p>Are you sure you want to delete record ID:"{{ object.id }}", Student Name:"{{ object }}"?</p>

        <input class="btn btn-info btn btn-danger" type="submit" value="Confirm">
        <a href="{% url 'studentlist' %}" class="btn btn-info btn btn-success" role="button">Back To Student</a>

</div>

{% endblock %}