{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container bg-secondary text-white d-flex justify-content-center">
    <form class="mt-5 mb-5" method="post">
        {% csrf_token %}
        <div class="form-group mt-2">
            {{ form.kyu_level|as_crispy_field }}
        </div>
        <div class="form-group mt-2">
            {{ form.belt_color|as_crispy_field }}
        </div>
        <div class="form-group mt-2">
            {{ form.kata_name|as_crispy_field }}
        </div>
        <div class="form-group mt-2">
            {{ form.kata_image|as_crispy_field }}
        </div>
        <div class="form-group mt-2">
            {{ form.syllabus_image|as_crispy_field }}
        </div>
  
        <button type="submit" class="btn btn-primary mt-5">Submit</button>
    </form>
</div>

{% endblock %}