{% extends "base.html" %}
{% load crispy_forms_tags %}
<!-- Body tag in base.html with Symantec HTML tags such as main, section, article, fieldset and header -->
<!-- Also the use of   {% csrf_token %} to safe guard against attacks -->

{% block content %}
<main class="d-flex align-items-center justify-content-center loger_out ">
    <section class="text-black-100 col-xl-3 col-lg-3 col-md-5 col-sm-8 col-12">
        <article class="paperimage border-padd-grey d-flex flex-column justify-content-center ">
            <header>
                <h2 class="text-center text-black">Sensei Creation</h2>
            </header>
            <fieldset>
                <form class="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        {{ form.sensei_first_name|as_crispy_field }}
                    </div>
                    <div class="form-group mb-3">
                        {{ form.sensei_last_name|as_crispy_field }}
                    </div>
                    <div class="form-group mb-3">
                        {{ form.sensei_email|as_crispy_field }}
                    </div>
                    <div class="form-group mb-3">
                        {{ form.sensei_contact_num|as_crispy_field }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </fieldset>
        </article>
    </section>
</main>
{% endblock %}