{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<!-- Body tag in base.html with Symantec HTML tags such as main, section, form, input, label, legend, fieldset, -->
<!-- Also the use of   {% csrf_token %} to safe guard against attacks -->
<main class="mx-auto loger_out ">
    <section class="container register-form-style d-flex align-content-center justify-content-center col-md-8 p-3 mb-5">
        <div class="border-3 p-3 paperimage">
            <h2 class="text-center text-black">Registration</h2>
            <form class='form container ' method="POST">
                {% csrf_token %}
                <div class='row'>
                    {% for field in form %}
                    <div class='col-md-6 text-black-100'>
                        {{ field|as_crispy_field }}
                    </div>
                    {% endfor %}
                </div>
                <button class='btn btn-primary' type='submit' name='submit-button'>Submit</button>
            </form>
        </div>
    </section>
</main>
{% endblock %}