{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<div class="mx-auto work ">
    <h2 class="text-center text-white">Student Register</h2>
    <div class="container register-form-style d-flex align-content-center justify-content-center col-md-6 p-3 mt-5 paperimage mb-5">
        <div class="border-3 ">
            <form class='form container ' method="POST">
                {% csrf_token %}
                <div class='row'>
                    {% for field in form %}
                    <div class='col-md-6 text-black-100'>
                        {{ field|as_crispy_field }}
                    </div>
                    {% endfor %}
                </div>
                <input class='btn btn-primary' type='submit'>
            </form>
        </div>
    </div>
</div>
{% endblock %}