{% extends "base.html" %}


{% block content %}

{% load static %}
{% for obj in student_page %}
{% load cloudinary %}
<h1 class="text-center">Grade Syllabus</h1>
<div class="row justify-content-center">
    <div class="col-lg-10 col-md-11 col-sm-12">
        <table class="table table-dark spacer">
            <thead>
                <tr class="text-center">

                    <th>Kyu Level</th>
                    <th>Current Belt Color</th>
                    <th>Kata Name</th>
                </tr>
            </thead>
            <tbody class="rounded-bottom">

                <tr class="text-center">
                    <td>{{ obj.kyu_level }}</td>
                    <td>{{ obj.belt_color }}</td>
                    <td>{{ obj.kata_name }}</td>
            </tbody>
        </table>
    </div>
    </tr>
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6 make-center-hoz-ver spacer">
            <p> "{% cloudinary obj.kata_image.url %}" </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 make-center-hoz-ver spacer">
            <p> "{% cloudinary obj.syllabus_image.url %}" </p>
        </div>
    </div>


    {% endfor %}


</div>

{% endblock %}