{% extends "base.html" %}

{% block content %}

<!-- Body tag included in header/Use of symantic HTML: Section, Main -->
<!-- Also this will display the user name on login -->
<main class="container grey-transparent-background paperimage">
    <section class="row mx-auto">
        <div class="order-1 order-md-1 col-sm-12 col-md-12 col-lg-6">
            {% load account %}
            {% if user.is_authenticated %}
            <h4 class="align-items-center text-black-50">Welcome, {{ username }}!</h4>
            {% else %}

            <h4 class="align-items-center text-black-50">Welcome, guest</h4>

            {% endif %}
            
        </div>
    </section>
</main>
{% endblock %}