{% extends "base.html" %}

{% block content %}

<h1>Student List</h1>
<div class="table-responsive-sm">
    <table class="table table-dark table-bordered table-responsive-lg table-responsive-md table-responsive-sm">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Kyu Level</th>
                <th>Belt Color</th>
                <th>Kata Name</th>
                <th>Kata Image</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in student_page %}
            <tr>
                <td>{{ obj.id }}</td>
                <td>{{ obj.kyu_level }}</td>
                <td>{{ obj.belt_color }}</td>
                <td>{{ obj.kata_name }}</td>
                <td>
                
                <img src="{% static 'images/grades/kionimage.png'   %}" alt="">
                    
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
   
</div>

{% endblock %}

<!-- kyu_level = models.CharField(max_length=10, verbose_name='Kyu Level')
belt_color = models.CharField(max_length=50, verbose_name='Karate Belt Color')
kata_name = models.CharField(max_length=50, verbose_name='Kata Name')
kata_image = CloudinaryField('image', default='placeholder')
syllabus_image = CloudinaryField('image', default='placeholder') -->